.container {
  max-height: 500px;
  width: 100%;
  /* height: 500px; */
  display: flex;
  /* padding: 1rem 0; */
}

.container > * {
  height: 100%;
  width: 50%;
  padding: 1rem 0;
}

.container:nth-child(even) {
  background-color: var(--block-background);
}
