.container {
  /* width: 50%; */
  height: auto;
  display: flex;
}

.circle {
  width: 50%;
  margin: auto;

  /* border */
  border-radius: 50%;
  border: 5px solid var(--border-color);
  box-shadow: 0px 0px 5px gray;
}
