.container {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.repeat {
  height: auto;
  background-size: 25%;
  background-position: center;
  background-repeat: repeat;
}

.full {
  height: max-content;
  max-height: 480px;
  padding-bottom: 2rem;
}
