.container {
  background-color: white;
  height: 3rem;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  list-style: none;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 11;
  opacity: 0.75;

  /* border-bottom: 1px solid black; */
  box-shadow: 0px 0px 5px black;
}

.initial {
  color: red;
  opacity: 1;
}

.home {
  margin-left: 8px;
  font-family: TypoGraphica;
  font-size: 1.5rem;
  cursor: pointer;
  /* animation: 1s bottom-up infinite; */
}

.bottomUp {
  animation: 0.5s bottom-up forwards;
}

.topDown {
  animation: 0.5s top-down forwards;
  cursor: default;
}

.item {
  margin: 0 8px;
  font-weight: 700;
  font-size: large;
  cursor: pointer;
}

.item:nth-child(2) {
  margin-left: auto;
}

.item:last-child {
  margin-right: 1rem;
}

@keyframes bottom-up {
  from {
    opacity: 0;
    transform: translateY(50%);
  }
  to {
    opacity: 1;
  }
}

@keyframes top-down {
  from {
    opacity: 1;
  }
  to {
    transform: translateY(50%);
    opacity: 0;
  }
}

@media only screen and (min-width: 1300px) {
  .item:last-child {
    margin-right: calc((100vw - 1280px) / 2 - 8px);
  }

  .home {
    margin-left: calc((100vw - 1280px) / 2 - 8px);
  }
}
